.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  z-index: 9999;
}

.rotatingLogo {
  min-width: 80px;
  min-height: 80px;
  animation: hourglassFlip 1.5s ease-in-out infinite;
}

@keyframes hourglassFlip {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
