.navbar {
  height: 100vh;
  width: 100%;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .navbar {
  border-right-color: var(--mantine-color-dark-4);
}

.navbarMain {
  flex: 1;
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .footer {
  border-top-color: var(--mantine-color-dark-4);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
  transition: all 0.1s ease;
  cursor: pointer;
}

[data-mantine-color-scheme='dark'] .link {
  color: var(--mantine-color-dark-1);
}

.link:hover:not(.linkActive) {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-gray-9);
}

[data-mantine-color-scheme='dark'] .link:hover:not(.linkActive) {
  background-color: var(--mantine-color-dark-6);
  color: var(--mantine-color-dark-0);
}

.link:hover:not(.linkActive) .linkIcon {
  color: var(--mantine-color-gray-9);
}

[data-mantine-color-scheme='dark'] .link:hover:not(.linkActive) .linkIcon {
  color: var(--mantine-color-dark-0);
}

.linkActive {
  background-color: var(--mantine-color-violet-0);
  color: var(--mantine-color-violet-7);
}

[data-mantine-color-scheme='dark'] .linkActive {
  background-color: var(--mantine-color-violet-9);
  color: var(--mantine-color-violet-1);
}

.linkActive:hover {
  background-color: var(--mantine-color-violet-1);
}

[data-mantine-color-scheme='dark'] .linkActive:hover {
  background-color: var(--mantine-color-violet-8);
}

.linkActive .linkIcon {
  color: var(--mantine-color-violet-7);
}

[data-mantine-color-scheme='dark'] .linkActive .linkIcon {
  color: var(--mantine-color-violet-1);
}

.linkActive:hover .linkIcon {
  color: var(--mantine-color-violet-7);
}

[data-mantine-color-scheme='dark'] .linkActive:hover .linkIcon {
  color: var(--mantine-color-violet-1);
}

.linkDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.linkIcon {
  color: var(--mantine-color-gray-7);
  margin-right: var(--mantine-spacing-sm);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}

[data-mantine-color-scheme='dark'] .linkIcon {
  color: var(--mantine-color-dark-1);
}
