.wrapper {
  padding-top: calc(var(--mantine-spacing-xl) * 2);
  padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.title {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.item {
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-lg);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.control {
  padding: var(--mantine-spacing-md);
}

.control:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.control[data-active] {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.content {
  padding: var(--mantine-spacing-md);
}

.contentInner {
  padding: 0;
}

.link {
  color: light-dark(var(--mantine-color-blue), var(--mantine-color-blue-4));
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
