.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link {
  display: block;
  line-height: 1;
  padding: 8px 12px;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-5));
}

.logo {
  height: 28px;
  width: auto;
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .link {
    display: none;
  }
}
