.subcategoryRow {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
}

.subcategoryRow:hover {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)) !important;
}

.mainRow:hover {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8)) !important;
}

.scrollContainer :global(.mantine-ScrollArea-viewport) {
  padding: 0 !important;
}
