.wrapper {
  min-height: calc(100dvh - var(--header-height));
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 var(--mantine-spacing-md) var(--mantine-spacing-xl) var(--mantine-spacing-md);
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 var(--mantine-spacing-lg) var(--mantine-spacing-xl) var(--mantine-spacing-lg);
  }
}

.table {
  width: 100%;
}

.header {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}

.totalRow {
  font-weight: bold;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
}
